### KDE ###
.directory


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### Eclipse ###
*.pydevproject
.metadata
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.springBeans
.factorypath
